*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#f4f8ff;

}



/* NAV */

nav{

background:#0d47a1;

display:flex;

justify-content:space-between;

padding:20px;

color:white;

}

.logo{

font-size:40px;

font-weight:bold;

}

ul{

display:flex;

list-style:none;

}

li{

margin-left:25px;

}

a{

color:white;

text-decoration:none;

font-size:28px;

}



/* HERO */

.hero{

height:90vh;

background:

linear-gradient(
rgba(0,0,0,.4),
rgba(0,0,0,.4)
),

url("images/hero-road.jpg");

background-size:cover;

background-position:center;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

text-align:center;

}

.hero h1{

font-size:70px;

}

.hero p{

font-size:28px;

margin:20px;

}

button{

padding:20px;

background:red;

color:white;

border:none;

cursor:pointer;

font-size:22px;

}



/* INFO */

.traffic{

padding:70px;

text-align:center;

}

.traffic h1{

color:#0d47a1;

margin-bottom:30px;

}

.traffic p{

font-size:22px;

line-height:2;

}



/* GALLERY */

.gallery{

padding:70px;

text-align:center;

}

.container{

display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;

margin-top:40px;

}

.card{

width:330px;

background:white;

padding:20px;

border-radius:20px;

box-shadow:
0 0 20px gray;

}

.card img{

width:100%;

height:300px;

object-fit:cover;

border-radius:20px;

}



/* RULES */

.rules{

display:grid;

grid-template-columns:
repeat(
2,
1fr
);

gap:20px;

padding:60px;

}

.box{

    .box:hover{

transform:
translateY(-10px);

transition:.3s;

}

background:white;

padding:50px;

text-align:left;

border-radius:20px;

box-shadow:
0 0 10px gray;

}



/* CHART */

.chart{

padding:80px;

display:flex;

flex-direction:column;

align-items:center;

}


/* FOOTER */

footer{

background:#0d47a1;

color:white;

text-align:center;

padding:20px;

}

.title{

text-align:center;

margin-bottom:0px;

}

.lights{

position:absolute;

left:60px;

top:40%;

}

.red,
.yellow,
.green{

width:60px;

height:60px;

border-radius:50%;

margin:15px;

}

.red{

background:red;

}

.yellow{

background:yellow;

}

.green{

background:green;

}

.stats{

display:flex;

justify-content:center;

gap:50px;

padding:80px;

background:white;

}

.stats div{

text-align:center;

}

.chart canvas{

width:550px !important;

height:550px !important;

}